body {
    font-family: "Open Sans", sans-serif;
}

.navbar-laravelflow {
    background-color: #fff;
    border-top: 3px solid orange;
    border-bottom: 1px solid #ddd;
}

.nav-underline {
    gap: .5rem;
}

.page-header {
    font-size: 1.8rem;
}

.question-summary {
    position: relative;
    display: flex;
    padding: 10px;
}

.question-summary-stats {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    flex-shrink: 0;
    flex-wrap: wrap;
    font-size: 13px;
    gap: 6px;
    width: 100px;
    margin-right: 16px;
}

.stats-item {
    align-items: center;
    display: inline-flex;
    gap: .3em;
    justify-content: center;
    white-space: nowrap;
    font-weight: 500;
    padding: 3px 6px;
}

.stats-item.has-answers {
    border: 1px solid hsl(148,70%,31%);
    color: hsl(148,70%,31%);
}
.stats-item.has-answers.has-accepted-answer {
    border: 1px solid hsl(148,70%,31%);
    background-color: hsl(148,70%,31%);
    color: #fff;
}

.question-summary-content {
    flex-grow: 1;
    max-width: 100%;
}
.question-summary-title {
    font-weight: 400;
    font-size: 1.5rem;
}

.question-summary-title a, .question-summary-author a {
    text-decoration: none;
}

.question-summary-author {
    font-size: .8rem;
}

.avatar-sm img {
    margin-right: 3px;
    border-radius: 5px;
    width: 16px;
    height: 16px;
}

.avatar-md img {
    margin-right: 3px;
    border-radius: 5px;
    width: 32px;
    height: 32px;
}

.related-tags {
    font-size: 1.3rem;
}

ul.tags-inline, ul.tags-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tags-inline li {
    display: inline;
}

.tag {
    text-decoration: none;
    display: inline-block;
    margin: 4px 4px 4px 0;
    font-weight: bold;
    font-size: 12px;
    background: #f1f2f3;
    color: #191e21;
    padding: 4px 8px;
    border-radius: 10%;
}

.tag:hover {
    background-color: #d3d3d3;
}